# =========================
# txt
# Windows
#   bat
#   lnk
# Image
#   png
# cProfile output
# =========================
/*.txt
/*.bat
/*.lnk
/*.png
*.prof
*.pyc
# =========================
# Current Directory.
# =========================
/backup

# =========================
# ALL Directory.
#   python cache
#   spyder project
#   pytest cache
# =========================
__pycache__
.spyproject
.cache
# =========================
!requirements.txt
!.gitignore
!profiling.bat