# =========================
# txt
# Windows
#   bat
#   lnk
# Image
#   png
# cProfile output
# =========================
*.txt
*.bat
*.lnk
/*.png
*.prof
# =========================
# Directory
#   backup
#   spyder project
# =========================
backup
.spyproject
# =========================
!requirements.txt
!.gitignore
