# =========================
# txt
# Windows
#   bat
#   lnk
# Image
#   png
# cProfile output
# =========================
*.txt
*.bat
*.lnk
*.png
*.prof
twitter.auth
# =========================
# Directory
#   backup
#   python cache
#   spyder project
# =========================
backup
__pycache__
.spyproject
# =========================
!requirements.txt
!.gitignore